# API + Worker
MONGODB_URI=mongodb://localhost:27017/veridex
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
CLIENT_URL=http://localhost:3000
ML_SERVICE_URL=http://localhost:8000
WORKER_CONCURRENCY=3
ALERT_WEBHOOK=
NODE_ENV=development

# ML Service
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=veridex-kb
PINECONE_ENVIRONMENT=
ELASTICSEARCH_URL=http://elasticsearch:9200
PIPELINE_VERSION=1.0.0
